[submodule "Deploy/OpenGL.Net"]
	path = Deploy/OpenGL.Net
url=https://github.com/PizzaKun/OpenGL.Net.git
[submodule "Deploy/Glfw.Net"]
	path = Deploy/Glfw.Net
	url = https://github.com/Chman/Glfw.Net.git
