######################################################
#		pEngine gitignore
#
#	----------------------------------
#
######################################################

#######################
# Binary folders
#######################
bin/
obj/
packages/

#######################
# VisualStudio formats
#######################
*.userprefs
*.suo
*.psess