######################################################
#		pEngine gitignore
#
#	----------------------------------
#
######################################################

#######################
# Binary folders
#######################
.vs/
bin/
obj/
packages/
TestResults/

#######################
# VisualStudio formats
#######################
*.userprefs
*.suo
*.psess
*.sqlite