<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<dllmap os="osx" dll="libGLES.dll" target="/System/Library/Frameworks/OpenGLES.framework/OpenGLES" />
  <dllmap os="osx" dll="libGLESv2.dll" target="/System/Library/Frameworks/OpenGLES.framework/OpenGLES" />
	<dllmap os="osx" dll="opengl32.dll" target="/usr/X11/lib/libGL.dylib"/>
	<dllmap os="osx" dll="libGL.so.1" target="/usr/X11/lib/libX11.dylib"/>
	<dllmap os="osx" dll="libX11" target="/opt/X11/lib/libX11.dylib"/>
    <dllmap os="osx" dll="libX11.so.6" target="/opt/X11/lib/libX11.6.dylib"/>
</configuration>