<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  	<dllmap dll="natives32/glfw3.dll">
    	<dllentry os="windows" dll="natives32/glfw3.dll"/>
    	<dllentry os="osx" dll="@executable_path/../MonoBundle/natives32/libglfw3.dylib"/>
  	</dllmap>

	<!-- XQuartz compatibility (X11 on Mac) -->
	<dllmap os="osx" dll="libGL.so.1" target="/usr/X11/lib/libGL.dylib"/>
	<dllmap os="osx" dll="libX11" target="/usr/X11/lib/libX11.6.dylib"/>
	<dllmap os="osx" dll="libXcursor.so.1" target="/usr/X11/lib/libXcursor.dylib"/>
	<dllmap os="osx" dll="libXi" target="/usr/X11/lib/libXi.dylib"/>
	<dllmap os="osx" dll="libXinerama" target="/usr/X11/lib/libXinerama.dylib"/>
	<dllmap os="osx" dll="libXrandr.so.2" target="/usr/X11/lib/libXrandr.dylib"/>
</configuration>
